* {
    padding: 0px;
}

body {
    background-color: #bbb;
    text-align: center;
}

header {
	margin: 10px auto;
    background-color:#00bfff;
	border: 1px solid rgb(0, 56, 177);
	box-shadow: 0 0 30px #777;
	text-align: center;
}

header h1 {
    margin-bottom: 0px;
    font-size: 2rem;
    font-family: 'Playfair Display SC', serif;
}

header img {
	display: inline-block;
	vertical-align: middle;
    margin: 0px;
    width: 100px;
    height: auto;
}

.headings {
    display: inline-block;
	vertical-align: middle;
    margin: 5px;
}

div.motto {
    font-family: 'Courgette', cursive;
    margin-top: 0px;
    margin-bottom: 1em;
    font-size: 15px;
}

nav {
    background-color:#FFD700;
    margin: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

nav li {
    margin: 2px;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav li.current-page {
    background-color: #FF8C00;
    border: 2px solid rgb(255, 188, 3);
}

nav a {
    color: rgb(87, 27, 11);
    text-decoration: none;
}

main {
    margin: 50px;
}

main section {
    background-color: #fff;
    margin: 0px 400px 0px 400px;
}

main section img {
    width: 60%;
    height: auto;
}

article {
    margin: 15px;
    background-color: #fff;
}

article img {
    width: 300px;
    height: auto;
}

footer section.contact-info{
    background-color: #000000;
    color: #fff;
}

footer p {
    font-size: 0.8rem;
}

