
@media only screen and (max-device-width: 600px){
    nav li {
        font-size: 150%;
        margin: 1vw;
        list-style-type: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .herodiv {margin: 10px auto;position: relative;}

    .stats {
        position: absolute;
        top: 25px;
        right: 50px;
        background: radial-gradient(#eee, #4567aa);
        border: 1px solid #000;
        padding: 1.5rem;
        box-shadow: 0 0 30px #fff;
        width: 20%;
        height: auto;
    }

}